body {
  color: white; /* deixa o texto branco */
  background: black; /* deixa o fundo preto */
  margin: 0px; /* cria um espaço invisivel para distanciar de outros elementos */
  font-family: "Chakra Petch", sans-serif; /* usa a fonte "Chakra Petch" ou se não tiver, usa "sans-serif" */
  margin-bottom: 100px; /* adiciona 100px de espaço invisivel na parte de baixo da pagina */
}

header {
  border-bottom: solid 2px rgb(42, 122, 228); /* Cria uma linha azul abaixo do titulo */
  padding: 20px; /* cria um espaço interno*/
  font-size: 32px; /* Tamanho do texto do cabeçalho */
  color: rgb(42,122, 228); /* Cor azul para o texto do titulo */
}

.chamada {
  background: rgb(184, 156, 213); /* define a cor de fundo da classe chamada para lilas */
  padding-bottom: 80px; /* Vai ter 80px de espaço embaixo do conteúdo */
  padding-top: 80px; /* Vai ter 80px de espaço em cima do conteúdo */
  display: flex; /* Usando o estilo "flexbox", que ajuda a organizar os elementos dentro dessa área */
  justify-content: center; /* Vai colocar o conteúdo bem no centro, horizontalmente */
}

.chamada-texto {
  margin-right: 5%; /* Vai deixar um espaço de 5% do tamanho da tela à direita desse texto */
}

h1 {
  font-size: 40px; /* O tamanho da fonte dos títulos (h1) vai ser 40px */
}

p {
  font-size: 20px; /* O tamanho da fonte dos parágrafos (p) vai ser 20px */
}

.categoria-videos {
  display: flex; /* Layout flexível em linha */
  overflow-x: auto; /* Permite rolagem horizontal se necessário */
  gap: 10px; /* Espaço entre os vídeos */
}

.categoria {
  padding-left: 20px; /* Espaço interno à esquerda */
  padding-right: 20px; /* Espaço interno à direita */
  margin-top: 50px; /* Espaço superior da seção */
}

.categoria-videos img {
  opacity: 0.5; /* Imagens levemente transparentes */
  height: 200px; /* Altura fixa das miniaturas */
}

.categoria-videos img:hover {
  opacity: 1.0; /* Ao passar o mouse, imagem fica visível totalmente */
  border: 3px solid green; /* Adiciona borda verde ao passar o mouse */
}

.categoria h2 {
  color: rgb(42,122,228); /* Cor azul para o título da seção */
}

