body {
  color: white; /* deixa o texto branco */
  background: black; /* deixa o fundo preto */
  margin: 500px; /* cria um espaço invisivel para distanciar de outros elementos */
  font-family: "Chakra Petch", sans-serif; /* usa a fonte "Chakra Petch" ou se não tiver, usa "sans-serif" */
  margin-bottom: 500px; /* adiciona 100px de espaço invisivel na parte de baixo da pagina */
}